body{
  background-color:seagreen;
  font-family:verdana;
  text-align: center;
  line-height: 40px;
  padding:10px;
}

header{
  font-size: 55px;
}

h1{
  font-size: 40px
}

p{
  font-size:24px;
}

footer{
  font-size:10px;
}

#diary20170911{
  color: #55ffff;
}

.contentResize{
  width: auto;
  height: auto;
  border: solid black 5px;
  overflow: auto;
  resize: both;
}
